body{
    font-family: 'Inter';
    font-style: normal;
    font-size: 16px;
    line-height: 1.6;
    color: #E4E5EA;

    position: relative;
    overflow-x: hidden;
    min-width: 320px;
    margin: 0;

    background: url("../img/background.svg") no-repeat center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
}